## Program to store speeches and convert to .csv files

In [1]:
import pandas as pd

In [2]:
#Create an example dataframe
df = pd.DataFrame()
df['Question'] = ["Question"]
df['Output'] = ["Output"]
df['Date'] = ["Date o/ output"]
df['Score'] = [0]

print(df)

   Question  Output               Date  Score
0  Question  Output  Date o/ recording      0

In [3]:
#Append a row to the dataframe
def append_row(Question, Output, Date, Score):
    global df
    df = pd.concat([df, pd.DataFrame.from_records([{'Question' : Question,  'Output' : Output, 
                                                    'Date' : Date, 'Score' : Score}])], ignore_index = True)

In [4]:
append_row("Test", "Test", "Test", 1)
df

   Question  Output               Date  Score
0  Question  Output  Date o/ recording      0
1      Test    Test               Test      1

In [7]:
test_list = [['list', 'row 1', None, None], ['list', 'row 2', None, None]]
for row in test_list:
    append_row(row[0], row[1], row[2], row[3])
df

   Question  Output               Date Score
0  Question  Output  Date o/ recording     0
1      Test    Test               Test     1
2      list   row 1               None  None
3      list   row 2               None  None

In [9]:
shortenedOutput = ['hypothetical', 'gpt', 'text', None]
for value in shortenedOutput:
    append_row(None, value, None, None)
df

       Question  Output               Date Score
0      Question  Output  Date o/ recording     0
1          Test    Test               Test     1
2          list   row 1               None  None
3          list   row 2               None  None
4  hypothetical    None               None  None
5           gpt    None               None  None
6          text    None               None  None
7          None    None               None  None

In [74]:
PATH = "C:\\Users\\hayden\\CSV outputs\\" #Replace this with your own path
import os
import datetime
from datetime import date
current_time = datetime.datetime.now()
timeDate = str(current_time.month) + '-' + str(current_time.day) + '-' + str(current_time.year) +  ',' + str(current_time.hour) + str(current_time.minute)
os.makedirs(PATH, exist_ok=True)  
df.to_csv(PATH + timeDate + '.csv') 
df.to_csv(PATH + 'test.csv')

In [75]:
print(PATH + timeDate + '.csv')

C:\Users\hayden\CSV outputs\2-8-2023,2355.csv